{% extends "home.html" %}
{% block content%}

<center>
    <form class="form-control w-50" action="{% url 'hidedata' %}" method="post" style="margin-top:2rem">
        {% csrf_token %}
        <h2 style="color: black;">Select Algorithm</h2>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <div class="row g-3 align-items-center">

            <div class="form-group">
                {{ context.form.algorithm.label_tag }}
                {{ context.form.algorithm }}
            </div>

            <div class="col-auto">
                <button type="submit" class="btn btn-primary" id="liveToastBtn" style="margin-left: 18rem;">Hide Data
                </button>
            </div>
        </div>
    </form>


</center>










{% endblock %}