{% extends "home.html" %}
{% block content %}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<center>
    <table>
        <h2>Requested File Details</h2>
        <th style="text-align:center;">Id</th>
        <th style="text-align:center;">File Name</th>
        <th style="text-align:center;">Algorithm</th>
        <th style="text-align:center;">Requested Email</th>
        <th style="text-align:center;">Action</th>
        {% for i in mydata %}
        <tr>
            <td style="text-align:center;">{{i.id}}</td>
            <td style="text-align:center;">{{i.filename}}</td>
            <td style="text-align:center;">{{i.algorithm}}</td>
            <td style="text-align:center;">{{i.requestedemail}}</td>
            <td style="text-align:center;">
                <a href="{% url 'sendkey' i.id i.fileid %}" class="btn btn-success">Send Key</a>
            </td>

        </tr>
        {% endfor %}
    </table>
</center>








{% endblock %}